{% extends "base.html"%}
{% block title %} Tarefas {% endblock %}
{% block head %}
<style>
    .hovertext {
        position: relative;
        border-bottom: 1px dotted black;
    }

    .hovertext:before {
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        width: 140px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 5px 0;
        transition: opacity 1s ease-in-out;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 110%;
    }

    .hovertext:hover:before {
        opacity: 1;
        visibility: visible;
    }
  </style>
{% endblock %}
{% block content %}
    <h1>Lista de Tarefas</h1>
    <table class="table table-bordered">
        <tr>
            <th>Titulo</th><th>Data</th><th>Status</th><th>Action</th>
        </tr>
        {% for tarefa in tarefas %}
        <tr>
            <td>{{tarefa.titulo}}</td>
            <td>{{tarefa.data}}</td>
            <td>{% if tarefa.status == 'p'%} Pendente {%else%}  {% if tarefa.status == 'e'%} Executando {%else%} Concluída {%endif%} {%endif%}</td>
            <td>
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-success" name="edit" value = {{tarefa.id}}>Editar</button>
                    <button class="btn btn-danger" name="deletar" value = {{tarefa.id}}>Deletar</button>
                </form>
            </td>
        </tr>
        {%endfor%}
    </table>
    <form method="post">
        {% csrf_token %}
        {{form}}
        <button class="btn btn-primary" name="save" value="{{form.instance.id}}"> {% if form.instance.id %} Editar {% else %} Salvar {% endif %}</button>
    </form>
{% endblock %}